@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-item {
    margin-right: auto;
    padding: 20px 10px;
    align-self: center;
}

.nav-link {
    font-size: 30px;
    font-weight: 600;
    color: #594d6d;
    font-family: "Open Sans";
}

.nav-link:hover {
    color: blue;
}

.nav-logo {
    width: 200px;
}

.navbar-button {
    font-family: "Open Sans";
    background-color: #ffdda9;
    color: #12022f;
    font-size: 25px;
    font-weight: bold;
    border: 0;
    border-radius: 40px;
    padding: 5px;
    width: 160px;
    height: 80px;
    text-align: center;
}

.bg-container {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/landing-page-lg-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
}

.text {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 50px;
    text-align: center;
    width: 70%;
}

@media screen and (max-width: 768px) {

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        text-align: left;
    }

    .nav-menu.active {
        left: 0;
    }

    .navbar {
        padding-top: 15px;
    }

    .nav-link {
        font-size: 20px;
        font-weight: 500;
    }

    .nav-item {
        border-top: 1px solid #594d6d;
        width: 100%;
        align-self: center;
    }

    .bg-container {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/landing-page-sm-bg.png");
        padding: 30px;
    }

    .text {
        color: #ffffff;
        font-family: "Roboto";
        font-size: 60px;
        text-align: center;
    }

}